<div class="trilhamarga chat-card spell-cast">
    <header class="card-header flexrow">
        <img src="{{actor.img}}" title="{{actor.name}}" width="36" height="36"/>
        <h3 class="actor-name">{{actor.name}}</h3>
    </header>

    <div class="card-content">
        <h4 class="spell-name">{{spell.name}}</h4>
        {{#if spell.system.description}}
        <div class="spell-description">{{{spell.system.description}}}</div>
        {{/if}}
        
        <div class="skill-label"><em>{{localize "TRILHAMARGA.SkillCheck" skill=skillName}}</em></div>
        {{#if flavorText}}<div class="flavor-text">{{flavorText}}</div>{{/if}}
        
        <div class="dice-roll">
            {{{rollHtml}}}
        </div>

        <div class="cast-result {{resultClass}}">
            <strong>{{localize resultLabel}}</strong>
        </div>

        {{#if success}}
        <div class="power-level-section">
            <div class="power-level-header">
                <strong>{{localize "TRILHAMARGA.PowerLevel"}}:</strong> {{powerLevel}}
            </div>
        </div>
        {{/if}}
    </div>
</div>