<div class="trilhamarga chat-card weapon-attack">
    <header class="card-header flexrow">
        <img src="{{actor.img}}" title="{{actor.name}}" width="36" height="36"/>
        <h3 class="actor-name">{{actor.name}}</h3>
    </header>

    <div class="card-content">
        <h4 class="weapon-name">{{weaponName}}</h4>
        {{#if weapon.system.description}}
        <div class="weapon-description">{{{weapon.system.description}}}</div>
        {{/if}}
        
        <div class="skill-label">
            <em>
            {{#if skillName}}
                {{localize "TRILHAMARGA.SkillCheck" skill=skillName}}
            {{else}}
                {{localize "TRILHAMARGA.FightingWithWeaponCheck" weapon=weaponName}}
            {{/if}}
            </em>
        </div>
        {{#if flavorText}}<div class="flavor-text">{{flavorText}}</div>{{/if}}
        
        <div class="dice-roll">
            {{{atkRollHtml}}}
        </div>

        {{#if atkResultLabel}}
        <div class="atk-result">
            <strong>{{localize atkResultLabel}}</strong>
        </div>
        {{/if}}

        <div class="damage-section">
            <div class="damage-header"><strong>{{localize "TRILHAMARGA.Damage"}}</strong></div>
            <div class="dice-roll">
                {{{dmgRollHtml}}}
            </div>
        </div>
    </div>
</div>